@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,200;1,500;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "poppins",serif;
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
    padding-top: 2rem;
    text-align: center;
}

h1 {
    font-size: 2.8rem;
    padding-bottom: 2rem;
}

h3 {
    font-size:1.3rem;
}
.container {
   padding:1rem ;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

label {
    padding-right: 0.5rem;
    font-size: 1.5rem;
}

input {
    font-size: 1.5rem;
    width: 3rem;
    height: 1.7rem;
    color: rgb(159, 143, 245) ;
    border-radius: 0.5rem;
}

::-webkit-input-placeholder {
    color: rgb(159, 143, 245) ;
 }

.list {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    visibility: hidden;
    color: white;
}


p {
    color: white;
}

button {

    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgb(159, 143, 245);
    color: rgb(255, 255, 255);
    
}

@media (max-width: 400px){
.container {
    max-width: 90vw;
    max-height: 100vh;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

label {
    padding-bottom: 1rem;
}

input {
    width: 100%;
    padding: 1rem;
}

.list {
    padding-bottom: 5rem;
}

.menu {
margin-top: 2rem;
}

}